# קבצי סביבת פייתון
__pycache__/
*.py[cod]
*.pyo
*.pyd

# סביבה וירטואלית

env/
.venv/
ENV/

# קבצים רגישים
.env
*.env

# קבצי מערכת
.DS_Store
Thumbs.db

# קבצי לוג/פלט
*.log
*.bak

# קבצי IDE (VSCode, PyCharm וכו')
.vscode/
.idea/

# קבצי pip
pip-log.txt

# קבצי דיבוג
*.swp



tree.txt
test.txt
test.py
